.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 12.5rem;
  /* background: linear-gradient(148deg, #f9fafb 0%, #d2d6db 100%);
   */
  background: linear-gradient(
    to bottom right,
    rgba(249, 250, 251, 1),
    rgba(210, 214, 219, 1)
  );
}
